<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">

<head th:replace="th/layout ::site-head">
<title>Klaser monet</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" media="all" href="../../css/klaser.css" th:href="@{/css/klaser.css}" />
</head>

<body>
  <header th:replace="th/layout :: site-header" />
  <div>
    <!--<h2 th:text="${title.list}" style="display: inline;">Lista monet</h2>-->
    <h2 th:value="#{title.list}" style="display: inline;">Lista monet</h2>
    <!--<h2 th:text="${title.list}" style="display: inline;">Lista monet</h2>s-->
  </div>

  <div class="listaMonet" th:unless="${#lists.isEmpty(allBooks)}">
    <table  class="table table-striped">
      <thead>
        <tr>
          <th th:value="#{klaser.id}">id</th>
          <th th:value="#{klaser.description}">description</th>
          <th th:value="#{klaser.author}">author</th>
          <th th:value="#{klaser.price}">price</th>
          <th th:value="#{klaser.title}">title</th>
          <th th:value="#{klaser.status}">status</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="coin : ${allBooks}">
          <form action="#" th:action="@{/monety}" th:object="${coin}" method="post">
          <td th:text="${coin.id}">1</td>
          <td th:text="${coin.description}">Długi description</td>
          <td th:text="${coin.author}">zł</td>
          <td th:text="${{coin.price}}">5.12</td>
          <td th:text="${coin.title}">Polska</td>
          <td th:text="#{${'klaser.status.' + coin.status}}">NEW</td>
          <td>
            <button type="submit" name="remove" th:value="${coin.id}"
            th:text="#{klaser.remove}"> </button>

            <a href="moneta.html" th:href="@{|/monety/${coin.id}|}" >
            <button type="button" th:text="#{klaser.edit}">Editt</button></a>
          </td>
          </form>
        </tr>
      </tbody>
    </table>
  </div>
  <footer th:replace="th/layout :: site-footer" />
</body>
</html>