<!DOCTYPE html >

<html xmlns:th="http://www.thymeleaf.org">


<head th:fragment="site-head">
    <title th:text="#{title.application}">Klaser</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" media="all" href="../../../css/klaser.css" th:href="@{/css/klaser.css}"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="icon" href="../../../imgages/coins.ico" th:href="@{/images/coins.ico}"/>
</head>

<body class="container-fluid">

<header th:fragment="site-header">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="nav-link" href="index.html" th:href="@{/}"><img src="../../../images/klaser.jpg"
                                                                  th:src="@{/images/klaser.jpg}"/>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="klaser.html" th:href="@{/}">Wszystkie książki</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="tosell.html" th:href="@{/tosell}">Książki do sprzedania</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="book.html" th:href="@{/book/create}">Dodaj książkę</a>
                </li>
                <!--<li class="nav-item">-->
                <!--Zalogowany: <b th:inline="text"> [[${#httpServletRequest.remoteUser}]] </b>-->
                <!--<form th:action="@{/logout}" method="POST" style="display: inline">-->
                <!--<input type=submit class="link" value="Wyloguj"/>-->
                <!--</form>-->
                <!--</li>-->
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="give me title" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Find book</button>
            </form>
        </div>
    </nav>
    <div class="navbar" id="bs-example-navbar-collapse-1">

        <ul id="messages">
            <li th:each="msg : ${MyMessages}" th:text="${msg.text}"
                th:class="${#strings.toLowerCase(msg.type)}">
            </li>
        </ul>
    </div>
</header>

<div>
    <h2 th:text="#{title.list}" style="display: inline;">Magazyn książek</h2>
    <img src="../../../images/klaser.jpg" alt="Klaser logo" title="Klaser logo" th:src="@{/images/klaser.jpg}"
         th:alt-title="#{title.application}" style="float: right;"/>
    <p> A tu jakis kontent, raczej sie nie pokaże </p>
</div>

<footer th:fragment="site-footer">
    Daniel Pabjan <a class="nav-link" href="https://github.com/Daxol/sternik"> Source code</a>
</footer>

</body>
</html>